mixin searchForms()
  
  form(action='/getScoresByFile', method="GET")
    .form-group
      label(for="files") Choose a File
      select#files.form-control(name='select')
        option(value='All Scores') All
        each file in data
          option(value=file) #{file}
      button(type='submit').btn.btn-primary.btn-sm Search Scores
  form(action='/getScoresByKey', method="GET")
    .form-group
      label(for="keys") Choose a Key
      select#keys.form-control(name='select')
        option(value='All Scores') All
        each key in keyList
          option(value=key) #{key}
      button(type='submit').btn.btn-primary.btn-sm Search Scores
  form
    .form-group    
      .btn-group.btn-group-sm
         a.btn.btn-danger.btn-lg(href='/max') Get Highest Scored Unique Item
         a.btn.btn-success.btn-lg(href='/min') Get Lowest Scored Unique Item
  form(action="/dateRange", method="GET" style="margin-bottom: 50px")
    .form-group
      label(for="dateRange") Select Files Within a Range of Dates
      input#dateRange(type='text', name='daterange')
      script(type='text/javascript').
       $(function() {
       $('input[name="daterange"]').daterangepicker();
       });
      button(type='submit').btn.btn-primary.btn-sm Submit
