extends layout

block content

  form(action='/getscores', method="GET")
    select(name='select')
      option(default=true ) Choose a File
      each file in data
        option(value=file) #{file}
    button(type='submit', name='score' value='score') Search Files
